<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./resultados.component.css" />
    
    <title>Resultados</title>
  </head>
  <body>
    

    <div class="quiz-container animate__animated animate__fadeIn">
        <h1 class="text-center">Resultados</h1>


        <div class="quiz-header">
            <h2>Cant. preguntas realizadas: {{cantPreguntas}}</h2>
            <h2>Cant. respuestas correctas: {{score}}</h2>
            <h2>Porcentaje de acierto: {{porcentajeAcierto}}%</h2>  
            
            <button 
              class="btn btn-primary"
              (click)="reiniciarTest()">
              Volver a realizar test
              
             
              <span class="material-symbols-outlined" style="font-size: 25px;">
                replay
              </span>
              

            </button>
        </div>
    </div>

  </body>

