<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./quiz-app.component.css" />
    <title>Quiz App</title>
  </head>
  <body>
    <div class="quiz-container" id="quiz">

      <div class="quiz-header">
        <h2 id="question">{{pregunta}}</h2>


        <form [formGroup]="miFormulario" (ngSubmit)="enviar()">
            <ul>
                <li>
                    <div class="form-check">
                        <input class="form-check-input"
                               type="radio"
                               value="a"
                               formControlName="respuesta"
                               id="radioOpcion1">
                        
                        <label class="form-check-label" for="radioOpcion1">{{opcion1}}</label>
                    </div>
                   
                </li>

                <li>
                    <div class="form-check">
                        <input class="form-check-input"
                               type="radio"
                               value="b"
                               formControlName="respuesta"
                               id="radioOpcion2">
                        
                        <label class="form-check-label" for="radioOpcion2">{{opcion2}}</label>
                    </div>
                   
                </li>

                <li>
                    <div class="form-check">
                        <input class="form-check-input"
                               type="radio"
                               value="c"
                               formControlName="respuesta"
                               id="radioOpcion3">
                        
                        <label class="form-check-label" for="radioOpcion3">{{opcion3}}</label>
                    </div>
                    
                </li>

                <li>
                    <div class="form-check">
                        <input class="form-check-input"
                               type="radio"
                               value="d"
                               formControlName="respuesta"
                               id="radioOpcion4">
                        
                        <label class="form-check-label" for="radioOpcion4">{{opcion4}}</label>
                    </div> 
                </li>
            </ul>
        </form>

      </div>


      <!--progress step-->
      <div class="card">
        <div class="card-body">
          
          <div class="row">
            <div class="col-12">
              <app-progress-step></app-progress-step>
            </div>
          </div>
          
        </div>
      </div>

    
      <button 
            class="btn btn-primary"
            id="submit"
            (click)="enviar()"
            [disabled]="miFormulario.invalid">
            Submit
      </button>








      <!-------------------Toast------------------------>

      <!--
      <button type="button" 
              class="btn btn-primary" 
              (click)="mostrarToast()">
              Show live toast
      </button>
      -->


      <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="width: 200px; height: 100px">

          <div class="toast-header" 
              style="height: 50px;"
              [style.background-color]="cambiarColorBodyToast()">
            <!--<img src="..." class="rounded me-2" alt="...">-->
            <strong class="me-auto"></strong>
            <!--<small>11 mins ago</small>-->
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>

          <div class="toast-body"
               style="height: 50px;"
               [style.color]="cambiarColorBodyToast()">
            {{tipoRes}}
          </div>
        </div>
      </div>



    </div>



    
  </body>
</html>
