
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./demo-projects-dashboard.component.css" />
    <title>Quiz App</title>
  </head>
  <body>
    
    <div class="row">


        <div class="row">
            <div class="col-12 text-center">
                <h1>DASHBOARD</h1>
            </div>
        </div>
        

        <div class="col-3 card text-center" >
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Quiz App</h5>
              <p class="card-text">Aplicación de preguntas y respuestas con multiple choice</p>
              <a routerLink="/quiz" class="btn btn-primary">Ir a aplicación</a>
            </div>
        </div>

        <div class="col-3 card text-center" >
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Quiz App</h5>
              <p class="card-text">Aplicación de preguntas y respuestas con multiple choice</p>
              <a routerLink="/quiz" class="btn btn-primary">Ir a aplicación</a>
            </div>
        </div>

        <div class="col-3 card text-center"  >
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Quiz App</h5>
              <p class="card-text">Aplicación de preguntas y respuestas con multiple choice</p>
              <a routerLink="/quiz" class="btn btn-primary">Ir a aplicación</a>
            </div>
        </div>

        <div class="col-3 card text-center" >
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Quiz App</h5>
              <p class="card-text">Aplicación de preguntas y respuestas con multiple choice</p>
              <a routerLink="/quiz" class="btn btn-primary">Ir a aplicación</a>
            </div>
        </div>

        <div class="col-3 card text-center">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Quiz App</h5>
              <p class="card-text">Aplicación de preguntas y respuestas con multiple choice</p>
              <a routerLink="/quiz" class="btn btn-primary">Ir a aplicación</a>
            </div>
        </div>

        <div class="col-3 card text-center">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Quiz App</h5>
              <p class="card-text">Aplicación de preguntas y respuestas con multiple choice</p>
              <a routerLink="/quiz" class="btn btn-primary">Ir a aplicación</a>
            </div>
        </div>

        <div class="col-3 card text-center">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Quiz App</h5>
              <p class="card-text">Aplicación de preguntas y respuestas con multiple choice</p>
              <a routerLink="/quiz" class="btn btn-primary">Ir a aplicación</a>
            </div>
        </div>


    </div>

    
  </body>

